<div class="header bg-<%= current_user.preferences['theme'] || 'primary' %> pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0"><%= t('activerecord.models.purchase.other').titleize %></h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <%= link_to '<i class="far fa-home"></i>'.html_safe, root_path %>
              </li>
              <li class="breadcrumb-item">
                <%= link_to t('activerecord.models.purchase.other').titleize, purchases_path %>
              </li>
              <li class="breadcrumb-item active" aria-current="page"><%= t 'general.show' %> <%= t('activerecord.models.purchase.one') %></li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          
          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="card">
    <div class="card-header">
      <h3 class="mb-0"><i class="far fa-cash-register mr-1"></i> <%= t('activerecord.models.purchase.one').capitalize %> № <%= @purchase.id %></h4>
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3"><%= t('activerecord.attributes.purchase.total_price').capitalize %>:</dt>
        <dd class="col-sm-9"><%= @purchase.price %></dd>
        <dt class="col-sm-3"><%= t('activerecord.attributes.purchase.operator').capitalize %>:</dt>
        <dd class="col-sm-9"><%= render 'user_lists/user_list', user: @purchase.operator %></dd>
        <dt class="col-sm-3"><%= t('activerecord.models.stand.one').capitalize %>:</dt>
        <dd class="col-sm-9"><%= link_to @purchase.stand.name_with_icon, @purchase.stand, class: 'badge badge-default' %></dd>
      </dl>

      <!-- Purchased Products Accordion -->
      <div class="accordion" id="purchasedProductsAccordion">
        <div class="card">
          <div class="card-header" id="headingProducts" data-toggle="collapse" data-target="#collapseProducts" aria-expanded="true" aria-controls="collapseProducts">
            <i class="far fa-gifts mr-1"></i> <%= t('activerecord.models.product.other').capitalize %> <span class="badge badge-default badge-pill ml-1"><%= @purchase.purchased_products.size %></span>
          </div>
          <div id="collapseProducts" class="collapse show" aria-labelledby="headingProducts" data-parent="#purchasedProductsAccordion">
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th><%= t ("activerecord.attributes.product.name") %></th>
                      <th><%= t ("activerecord.attributes.purchased_product.amount") %></th>
                      <th><%= t ("activerecord.attributes.purchased_product.price") %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @purchase.purchased_products.each do |pp| %>
                      <tr>
                        <td><%= link_to pp.product.name_with_icon, pp.product, class: "text-#{ user_signed_in? ? current_user.theme || 'primary' : 'primary' }" %></td>
                        <td><%= pp.amount %></td>
                        <td><%= pp.total_price %></td>
                      </tr>
                    <% end %>
                  </tbody>
                  <thead class="thead-light">
                    <tr>
                      <th><%= t 'general.total' %></th>
                      <th><%= @purchase.products_number %></th>
                      <th><%= @purchase.price %></th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to(icon('far fa-arrow-left', t('general.back')), purchases_path, class: 'btn btn-icon icon-left btn-secondary d-mobile-none mb-2') %>
  <%= link_to(icon('far fa-file-plus', "#{t('general.new')} #{t('activerecord.models.purchase.one')}".capitalize), new_purchase_path, class: 'btn btn-icon icon-left btn-success mb-2') %>
  <%= link_to(icon('far fa-edit', t('general.edit')), edit_purchase_path(@purchase), class: 'btn btn btn-icon icon-left btn-warning mb-2') if current_user.admin? %>
  <%= link_to(icon('far fa-trash', t('general.delete')), @purchase, class: "btn btn btn-icon icon-left btn-danger mb-2", data: { confirm: t('general.are_you_sure_delete'), remote: true }, method: :delete) if current_user.admin? %>
</div>

<% content_for(:page_title, t('general.show') + " Purchase") %>
