<!-- Header -->
<div class="header pb-6 d-flex align-items-center" style="min-height: 500px; background-image: url(<%= image_path 'theme/profile-cover.jpg' %>); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white"><%= t('.edit_profile').capitalize %></h1>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <%= image_tag 'theme/img-1-1000x600.jpg', class: 'card-img-top' %>
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#" class="href">
                <%= image_tag 'brand/xmas-fair-logo', class: 'rounded-circle img-center img-fluid shadow shadow-lg--hover', width: '150px' %>
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <!-- <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-sm btn-info  mr-4 ">Connect</a>
            <a href="#" class="btn btn-sm btn-default float-right">Message</a>
          </div> -->
        </div>
        <div class="card-body pt-0 border-bottom">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading"><%= current_user.operated_stands.size %></span>
                  <span class="description"><%= t '.stands_operated', count: current_user.operated_stands.size %></span>
                </div>
                <div>
                  <span class="heading"><%= current_user.stands.size %></span>
                  <span class="description"><%= t '.stands_associated', count: current_user.stands.size %></span>
                </div>
                <div>
                  <span class="heading"><%= current_user.purchases.size %></span>
                  <span class="description"><%= t '.purchases_operated', count: current_user.purchases.size %></span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h5 class="h3">
              <%= current_user.name %><span class="font-weight-light">, <%= t 'grades.' + current_user.grade %></span>
            </h5>
            <div class="h4 mt-4">
              <%= t('positions.' + current_user.position).capitalize %> <br/>
              <font class="font-weight-light"><%= t('departments.' + current_user.department).capitalize %></font>
            </div>
          </div>
        </div>
        <% if current_user.operated_stands.any? || current_user.stands.any? %>
          <ul class="list-group list-group-flush">
            <% if current_user.operated_stands.any? %>
              <li class="list-group-item"><%= t '.stands_operated', count: current_user.operated_stands.size %>: 
                <% current_user.operated_stands.each do |stand| %>
                  <br/><%= link_to stand.name_with_icon, stand, class: 'badge badge-default m-1' %>
                <% end %>
              </li>
            <% end %>
            <% if current_user.stands.any? %>
              <li class="list-group-item"><%= t '.stands_associated', count: current_user.stands.size %>:
                <% current_user.stands.each do |stand| %>
                  <br/><%= link_to stand.name_with_icon, stand, class: 'badge badge-default m-1' %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <div class="card-footer small text-muted">
          <%= t '.change_position_message' %>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <%# <div class="row">
        <div class="col-lg-6">
          <div class="card bg-gradient-info border-0">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0 text-white">Total traffic</h5>
                  <span class="h2 font-weight-bold mb-0 text-white">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <span class="text-white mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap text-light">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card bg-gradient-danger border-0">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0 text-white">Performance</h5>
                  <span class="h2 font-weight-bold mb-0 text-white">49,65%</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                    <i class="ni ni-spaceship"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <span class="text-white mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap text-light">Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div> %>
      <div class="card" id="edit-profile">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-12">
              <h3 class="mb-0"><%= t('.edit_profile').capitalize %></h3>
            </div>
            <%# <div class="col-4 text-right">
              <a href="#!" class="btn btn-sm btn-primary">Settings</a>
            </div> %>
          </div>
        </div>
        <div class="card-body">
          <%= form_with(model: current_user, url: user_registration_path, method: :patch, data: { controller: 'validation' }) do |form| %>
            <h6 class="heading-small text-muted mb-4"><%= t '.user_information' %></h6>
            <div class="pl-lg-4">

              <div class="row">
                <!-- First Name -->
                <div class="form-group col-md-6 mb-2">
                  <%= form.label :first_name, class: 'form-control-label' %>
                  <div class="input-group input-group-merge mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="far fa-user"></i></span>
                    </div>
                    <%= form.text_field :first_name, autofocus: true, class: 'form-control', placeholder: :first_name, required: true, value: current_user.first_name %>
                  </div>
                </div>

                <!-- Last Name -->
                <div class="form-group col-md-6 mb-2">
                  <%= form.label :last_name, class: 'form-control-label' %>
                  <div class="input-group input-group-merge mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="far fa-user"></i></span>
                    </div>
                    <%= form.text_field :last_name, class: 'form-control', placeholder: :last_name, required: true, value: current_user.last_name %>
                  </div>
                </div>
              </div>

              <!-- Email -->
              <div class="form-group mb-2">
                <%= form.label :email, class: 'form-control-label' %>
                <div class="input-group input-group-merge mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-envelope"></i></span>
                  </div>
                  <%= form.email_field :email, class: 'form-control', placeholder: :email, required: true, value: current_user.email %>
                </div>
              </div>
            </div>
            <hr class="my-4">
            <h6 class="heading-small text-muted mb-4"><%= t '.contact_information' %></h6>
            <div class="pl-lg-4">
              <!-- Phone -->
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <%= form.label :phone, class: 'form-control-label' %>
                    <%= form.telephone_field :phone, class: 'form-control', value: current_user.phone %>
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-4">
            <h6 class="heading-small text-muted mb-4"><%= t '.password' %></h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= form.label :password, class: 'form-control-label' %>
                    <%= form.password_field :password, autocomplete: "new-password", class: 'form-control' %>
                    <small class="form-text text-muted"><%= t '.dont_complete_no_change_password' %></small>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <%= form.label :password_confirmation, class: 'form-control-label' %><br />
                    <%= form.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-4">
            <h6 class="heading-small text-muted mb-4"><%= t '.verify_changes' %></h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-12">
                  <%= form.label :current_password, class: 'form-control-label' %>
                  <%= form.password_field :current_password, class: 'form-control', required: true %>
                  <small class="form-text text-muted"><%= t '.we_need_current_password' %></small>
                </div>
              </div>
            </div>

            <div class="row mb-0 mt-4 float-right">
              <%= form.button :submit, class: 'btn btn-default col', title: t('general.edit') do %>
                <i class="far fa-user-edit"></i> &nbsp;<%= t '.edit_details' %>
              <% end %>    
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>