<%= form_with(model: spiridon_purchase, data: { controller: 'validation' }) do |form| %>
  
  <div class="row">
    <div class="form-group col-md-6">
        <%= form.label :amount, class: 'form-control-label' %>
        <div class="input-group mb-3">
          <%= form.number_field :amount, class: 'form-control', id: 'amount-field', min: 1, required: true %>
          <div class="input-group-append">
            <span class="input-group-text"><%= t('general.spiridoni', count: 10) %></span>
            <span class="input-group-text" id="spiridon-equivalent"> = 0 RON</span>
          </div>
        </div>
    </div>

    <% if current_user.admin? %>
      <div class="form-group col-md-6">
        <%= form.label :operator_id, t('activerecord.attributes.purchase.operator'), class: 'form-control-label' %>
        <%= form.collection_select(:operator_id, User.all, :id, :name, { selected: current_user.id }, { class: 'form-control', data: { controller: 'select' } }) %>
      </div>
    <% else %>
      <div class="form-group col-md-6">
        <label class="form-control-label" for="operator"><%= t('activerecord.attributes.purchase.operator') %></label>
        <input class="form-control" type="text" name="operator" disabled value="<%= current_user.name %>">
      </div>
    <% end %>
  </div>

  <div class="card-footer pl-0 pb-0">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>

<script>
  $('#amount-field').on('turbolinks:load input propertychange paste', function() {
    console.log('change!')
    $('#spiridon-equivalent').text(' = ' + $(this).val() * 5 + ' RON')
  })
</script>