<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0"><%%= t('activerecord.models.<%= singular_table_name %>.other').titleize %></h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <%%= link_to '<i class="far fa-home"></i>'.html_safe, root_path %>
              </li>
              <li class="breadcrumb-item">
                <%%= link_to t('activerecord.models.<%= singular_table_name %>.other').titleize, <%= plural_table_name %>_path %>
              </li>
              <li class="breadcrumb-item active" aria-current="page"><%%= t 'general.edit' %> <%%= t('activerecord.models.<%= singular_table_name %>.one') %></li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="#" class="btn btn-sm btn-neutral"><%%= t 'general.edit' %></a>
          <a href="#" class="btn btn-sm btn-neutral"><%%= t 'general.filters' %></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="card">
    <div class="card-header">
      <h3 class="mb-0"><%%= t 'general.edit' %> <%%= t('activerecord.models.<%= singular_table_name %>.one') %></h3>
    </div>
    <div class="card-body">
      <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
    </div>
  </div>
  <%%= link_to icon('far fa-arrow-left', t('general.back')), <%= plural_table_name %>_path, class: 'btn btn-light' %>
</div>

<%% content_for(:page_title, "#{t('general.edit')} #{t('activerecord.models.<%= singular_table_name %>.one')}") %>
