<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0"><%%= t('activerecord.models.<%= singular_table_name %>.other').titleize %></h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <%%= link_to '<i class="far fa-home"></i>'.html_safe, root_path %>
              </li>
              <li class="breadcrumb-item active" aria-current="page"><%%= t('activerecord.models.<%= singular_table_name %>.other').titleize %></li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="#" class="btn btn-sm btn-neutral"><%%= t 'general.new' %></a>
          <a href="#" class="btn btn-sm btn-neutral"><%%= t 'general.filters' %></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card pb-3">
        <!-- Card header -->
        <div class="card-header border-0">
          <div class="row">
            <div class="col-6">
              <h3 class="mb-0"><%%= t 'general.list_of' %> <%%= t 'activerecord.models.<%= singular_table_name %>.other' %></h3>
            </div>
            <div class="col-6 text-right">
              <%%= link_to new_<%= singular_table_name %>_path, class: "btn btn-sm btn-primary btn-round btn-icon", data: { toggle: :tooltip, 'original-title': "#{ t 'general.add'} #{ t 'activerecord.models.<%= singular_table_name %>.one' }" } do %>
                <span class="btn-inner--icon">
                  <i class="fas fa-plus"></i>
                </span>
                <span class="btn-inner--text"><%%= t 'general.add' %></span>
              <%% end %>
            </div>
          </div>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush" id="datatable-basic">
            <thead class="thead-light">
              <tr>
                <% attributes.each do |attribute| -%>
                  <th><%%= t ("activerecord.attributes.<%= singular_table_name %>.<%= attribute.name %>") %></th>
                <% end -%>
                <th scope="col" class="no-sort"></th>
              </tr>
            </thead>
            <tbody>
              <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
                <tr>
                  <% attributes.each do |attribute| -%>
                    <% if [:date, :datetime].include?(attribute.type) -%>
                      <td><%%= l(<%= singular_table_name %>.<%= attribute.name %>) %></td>
                    <% elsif [:time].include?(attribute.type) -%>
                      <td><%%= l(<%= singular_table_name %>.<%= attribute.name %>, format: :time) %></td>
                    <% elsif [:float, :decimal].include?(attribute.type) -%>
                      <td><%%= np(<%= singular_table_name %>.<%= attribute.name %>) %></td>
                    <% elsif attribute.type == :boolean -%>
                      <td><%%= t(<%= singular_table_name %>.<%= attribute.name %>) %></td>
                    <% else -%>
                      <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
                    <% end -%>
                  <% end -%>
                  <td class="table-actions">
                    <%%= link_to '<i class="far fa-eye"></i>'.html_safe, <%= singular_table_name %>, class: "table-action", data: { toggle: 'tooltip', 'original-title': t('general.view') } %>
                    <%%= link_to '<i class="far fa-user-edit"></i>'.html_safe, edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: "table-action", data: { toggle: 'tooltip', 'original-title': t('general.edit') } %>
                    <%%= link_to '<i class="far fa-trash"></i>'.html_safe, <%= singular_table_name %>, class: "table-action table-action-delete", data: { toggle: 'tooltip', 'original-title': t('general.delete'), confirm: t('general.are_you_sure_delete'), remote: true }, method: :delete %>
                  </td>
                </tr>
              <%% end %>
            </tbody>
          </table>
        </div>
        <!-- Card footer -->
        <!-- <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">
                  <i class="fa fa-angle-left"></i>
                  <span class="sr-only"><%%= t 'general.previous' %></span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2
                  <span class="sr-only">(<%%= t 'general.current' %>)</span></a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">
                  <i class="fa fa-angle-right"></i>
                  <span class="sr-only"><%%= t 'general.next' %></span>
                </a>
              </li>
            </ul>
          </nav>
        </div> -->
      </div>

    </div>
  </div>
  <%%= render 'shared/footer' %>
</div>

<%% content_for(:page_title, "#{ t 'general.list_of' } #{t('activerecord.models.<%= singular_table_name %>.other').titleize}") %>
