<div class="row">
  <div class="col-xl-4 col-md-6">
    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0"><%= t('metrics.total_purchases') %></h5>
            <span class="h2 font-weight-bold mb-0"><%= Purchase.total_sales %> <span class="small text-muted"><%= t('general.spiridoni', count: Purchase.total_sales) %></span></span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
              <i class="far fa-cash-register"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <% if Purchase.today.any? %>
            <span class="text-success mr-2"><i class="far fa-fw fa-arrow-up"></i> <%= Purchase.today.size %></span>
            <span class="text-nowrap"><%= t('metrics.purchases_today', count: Purchase.today.size) %></span>
          <% else %>
            <span class="text-nowrap"><i class="far fa-fw fa-exclamation"></i> <%= t('metrics.purchases_today', count: 0) %></span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6">
    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0"><%= t('metrics.spiridons_sold') %></h5>
            <span class="h2 font-weight-bold mb-0">
              <%= SpiridonPurchase.pluck(:amount).sum %>
              <span class="small text-muted">(<%= SpiridonPurchase.pluck(:amount).sum * 5 %> RON)</span>
            </span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
              <i class="far fa-coins"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <% if SpiridonPurchase.today.any? %>
            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> <%= SpiridonPurchase.today.size %></span>
            <span class="text-nowrap"><%= t('metrics.spiridons_today', count: SpiridonPurchase.today.size) %></span>
          <% else %>
            <span class="text-warning mr-2"><i class="far fa-exclamation"></i></span>
            <span class="text-nowrap"><%= t('metrics.spiridons_today', count: SpiridonPurchase.today.size) %></span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-12">
    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0"><%= t('home.index.products_sold') %></h5>
            <span class="h2 font-weight-bold mb-0"><%= PurchasedProduct.all.map(&:amount).sum %></span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
              <i class="far fa-sleigh"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <% if PurchasedProduct.all.select {|p| p.created_at.today? }.map(&:amount).sum > 0 %>
            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> <%= PurchasedProduct.all.select {|p| p.created_at.today? }.map(&:amount).sum %></span>
            <span class="text-nowrap"><%= t('metrics.products_today', count: PurchasedProduct.all.select {|p| p.created_at.today? }.map(&:amount).sum) %></span>
          <% else %>
            <span class="text-warning mr-2"><i class="far fa-exclamation"></i></span>
            <span class="text-nowrap"><%= t('metrics.products_today', count: 0) %></span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
